{% extends "tours/base.html" %}

    {% block contenido %}
    <section id="country-cover">
        <h2>Tours</h2>
        <h3>Destinos maravillosos para revitalizar el cuerpo y alimentar el alma</h3>
    </section>

    <section id="content">
      <aside id="column-left">
        <p class="margin-bottom-sm">Filtrar por:</p>
        <input class="margin-bottom-sm" type="text" name="" value="">
        <div class="margin-bottom-sm">
          <p>Destinos</p>
            <ul>
              <li>
                <input type="checkbox" id="fruit4" name="" value="">
                <label for="fruit4">Antigua</label>
              </li>
              <li>
                <input type="checkbox" id="fruit4" name="" value="">
                <label for="fruit4">Guatemala City</label>
              </li>
              <li>
                <input type="checkbox" id="fruit4" name="" value="">
                <label for="fruit4">Panajachel</label>
              </li>
              <li>
                <input type="checkbox" id="fruit4" name="" value="">
                <label for="fruit4">Flores</label>
              </li>
              <li>
                <input type="checkbox" id="fruit4" name="" value="">
                <label for="fruit4">San Jorge La Laguna</label>
              </li>
            </ul>
         </div>
         <div class="margin-bottom-sm">
           <p>Destinos</p>
           <ul>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">Antigua</label>
             </li>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">Guatemala City</label>
             </li>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">Panajachel</label>
             </li>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">Flores</label>
             </li>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">San Jorge La Laguna</label>
             </li>
          </ul>
         </div>
         <div class="margin-bottom-sm">
           <p>Destinos</p>
           <ul>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">Antigua</label>
             </li>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">Guatemala City</label>
             </li>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">Panajachel</label>
             </li>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">Flores</label>
             </li>
             <li>
               <input type="checkbox" id="fruit4" name="" value="">
               <label for="fruit4">San Jorge La Laguna</label>
             </li>
           </ul>
         </div>
       </aside>

       <section id="central">
          {% for tour in tours %}
          <div class="tour-container">
            <div class="card-image-container">
              <img src="/static/tours/img/cdmx.jpg" alt="alt here">
            </div>
            <div class="card-content">
              <div>
                <h3>{{ tour.nombre }}</h3>
                <p class="margin-bottom-sm">
                  {{ tour.descripcion }}
                </p>

                <table class="table-info-tour">
                  <tbody>
                    <tr>
                      <th>Starts / Ends </th>
                      <td>{{ tour.zonaSalida }}/ {{ tour.zonaLlegada }}</td>
                    </tr>
                    <tr>
                      <th>Operator</th>
                      <td>{{ tour.operador }}</td>
                    </tr>
                    <tr>
                      <th>Tour Type</th>
                      <td>{{ tour.tipo }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="">
                <a href="/tour/{{ tour.id }}/">Ver tour</a>
              </div>
              {% if es_operador %}
              <nav class="nav-botones">
                <a class="btn" href="/tour/agregar/">Agregar</a>
                <a class="btn" href="/tour/modificar/{{ tour.id }}/">
                Editar</a>
                <a class="btn" href="/tour/eliminar/{{ tour.id }}/">
                Eliminar</a>
              </nav>
              {% endif %}
            </div>
          </div><!-- termina tour -->
          {% endfor %}

        </section>
      </section>
      {% endblock %}
