{% extends "tours/base.html" %}

    {% block contenido %}
    <div class="contenido">
      <form action="/tour/agregar/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <header>
          <h2>Agregar Tour</h2>
        </header>

        <section>
          <label class="requerido">Nombre:</label>
          <input type="text" name="nombre" required />
          <hr />
          <label class="">Slug:</label>
          <input type="text" name="slug" />
          <hr />
          <label class="">Tipo de tour:</label>
          <input type="text" name="tipoDeTour" />
          <hr />
          <label class="requerido">Descripción:</label>
          <input type="text" name="descripcion" required />
          <hr />
          <label class="">Img:</label>
          <input type="file" name="img" />
          <hr />
          <label class="">País:</label>
          <input type="text" name="pais" />
          <hr />
          <label class="">Zona Salida:</label>
          <select name="zonaSalida">
            {% for zona_obj in zonas %}
            <option value="{{ zona_obj.id }}">{{ zona_obj.nombre }}</option>
            {% endfor %}
          </select>
          <hr />
          <label class="">Zona Llegada:</label>
          <select name="zonaLlegada">
            {% for zona_obj in zonas %}
            <option value="{{ zona_obj.id }}">{{ zona_obj.nombre }}</option>
            {% endfor %}
          </select>
          <hr />
        </section>

        <footer>
          <nav class="nav-botones">
            <input type="submit" class="btn" value="Guardar" />
            <a class="btn" href="/">Cancelar</a>
          </nav>
        </footer>
      </form>
    </div><!-- termina class="contenido" -->
    {% endblock %}
